/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
apione/composer.lock
apione/public/.htaccess
apione/public/favicon.ico
apione/public/index.php
apione/public/robots.txt
apione/storage/app/.gitignore
apione/storage/app/public/.gitignore
apione/storage/framework/.gitignore
apione/storage/framework/cache/.gitignore
apione/storage/framework/cache/data/.gitignore
apione/storage/framework/sessions/.gitignore
apione/storage/framework/testing/.gitignore
apione/storage/framework/views/.gitignore
apione/storage/logs/.gitignore
apione/vite.config.js
